node_modules/
*.log
.DS_Store

frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.vscode/
frontend/.idea/
frontend/.env*
frontend/npm-debug.log*
frontend/yarn.lock
frontend/package-lock.json

server/node_modules/
server/dist/
server/build/
server/.vscode/
server/.idea/
server/.env*
server/npm-debug.log*
server/yarn.lock
server/package-lock.json
server/coverage/
server/logs/
server/data/